.subreddit-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: var(--spacing-1);
    border: 2.5px solid;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  .subreddit-card {
    padding-right: var(--spacing-2);
  }
  
  .subreddit-card h2 {
    margin-top: 0;
    color: var(--color-text-header);
  }
  
  .subreddits-list button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: var(--color-text-body);
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    padding: var(--spacing-2);
    border-radius: var(--radius);
  }
  
  .selected-subreddit button {
    color: var(--color-branding) !important;
  }
  
  .selected-subreddit {
    border-left: 5px solid var(--color-branding);
    background: var(--color-branding-transparent);
  }
  
  .subreddits-list button:hover {
    background: var(--color-on-hover);
  }
  
  .subreddits-list {
    list-style: none;
    padding: 0;
  }

  /* button {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  } */