.post-wrapper {
    width: 100%;
    display: flex;
    color: rgb(73, 73, 73);
    
}

.post-votes-container {
    width: 60px;
    padding-top: 20px;
    font-weight: bold;
    
}

.post-container {
    width: 100%;
}

.post-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 2;
}

.post-image-container .post-image {
    width: 100%;
    border-radius: 10px;
}

.icon-action {
    font-size: 2rem;
}

.icon-action-button.up-vote.active {
    color: rgb(31, 202, 31);
  }
  
  .icon-action-button.down-vote.active {
    color: red;
  }

.post-votes-container p {
    font-size: 18px;
    
}

.vote-count.up-vote {
    color: rgb(31, 202, 31); 
  }
  
  .vote-count.down-vote {
    color: red; 
  }

  .vote-count {
    padding: 6px;
  }

.post-details {
    font-size: 18px;
}

.comments-icon {
    font-size: 1.5rem;
}

.author-username {
    font-weight: bold;
    color: var(--color-branding);
}

